

.banner{
    background-image: url("../Assets/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    position: fixed;
    z-index: 5;
    
}

.faCartPlus{
    color: white;
}

